.form {
	width: 250px;
	/* display: grid; */
	/* align-items: center; */
}

.form__title {
	margin-bottom: 0.5em;
}

.form__content {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.form__group {
	display: flex;
	flex-direction: column;
}

.form__label {
	font-weight: 600;
	font-size: small;
}

.form__input {
	background-color: rgb(241, 241, 251);
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5em 0.75em;
	width: 100%;
}

.form__submit {
	background-color: rgb(82, 82, 169);
	border: 1px solid rgb(82, 82, 169);
	outline: 1px solid #fff;
	outline-offset: -4px;
	color: #fff;
	font-weight: 400;
	padding: 0.5em 1.25em;
}
